* {
	box-sizing: border-box;
	/*outline: 1px solid red;*/

}

body {
	background-color: #8395a7;
	text-align: center;
	margin: 0;
	margin-top:8px; 
}

[class*="img-"] {
	width: 24%;
	height: 31vh;
	margin: 3px;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	/*opacity: 0.7;*/
}

[class="img-car"] {
	background: url(img/car.jpeg) center/cover no-repeat;
	width: 48%;
}
[class="img-motorboat"] {
	background: url(img/motorboat.jpeg) center/cover no-repeat;
}
[class="img-plane"] {
	background: url(img/plane2.jpeg) top/cover no-repeat;
}
[class="img-train"] {
	background: url(img/train.jpeg) center/cover no-repeat;
}
[class="img-tractor"] {
	background: url(img/tractor.jpg) center/cover no-repeat;
}
[class="img-bulldozer"] {
	background: url(img/bulldozer.jpeg) center/cover no-repeat;
}
[class="img-combine-harvester"] {
	background: url(img/combine-harvester.jpg) center/cover no-repeat;
}
[class="img-police"] {
	background: url(img/police.jpeg) center/cover no-repeat;
}
[class="img-motor"] {
	background: url(img/motor.jpeg) center/cover no-repeat;
	width: 48%;
}
[class="img-fire-truck"] {
	background: url(img/fire-truck.jpg) center/cover no-repeat;
}



.key {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 90px;
	background-color: #576574CC; 
	transition: all 0.8s;
	border: 5px solid black;
	border-radius: 10px;
	margin: 0;
}
.key-pressed {
  	transform: translate(-50%, -50%) scale(1.1);
  	border-color: #ffc600;
  	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	font-size: 3rem;
	font-family: monospace;
	color: #FFF;
}