@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

* {
}

body {
	margin: 0 auto;
	overflow: hidden;
}

div {
	height: 33.33vh;
	width: 25%;
	float: left;
	transition: 0.4s;
}

.white {background-color: white;}
.yellow {background-color: #fff200;}
.orange {background-color: #F79F1F;}
.red {background-color: #EA2027;}
.green {background-color: green;}
.blue {background-color: #0652DD;}
.purple {background-color: #6F1E51;}
.pink {background-color: #FDA7DF;}
.grey {background-color: #a4b0be;}
.brown {background-color: #562401;}
.black {background-color: black;}
.colors {
	text-align: center;
	line-height: 30vh;
	background: 
	    radial-gradient(circle farthest-corner at 35% 90%, #fff200, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(circle farthest-corner at 0 140%, #FDA7DF, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(ellipse farthest-corner at 20% -50%, #0652DD, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(ellipse farthest-corner at 100% 0, green, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), 
	    radial-gradient(ellipse farthest-corner at 100% 100%, #EA2027, rgba(0, 0, 0, 0)), 
	    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	color: white;
	font-size: 75px;
	font-family: 'Dancing Script', cursive;
	text-shadow: 0 0 20px #000;
	box-shadow: inset 0 0 10px white;
}

div:hover {
	transform: scale(1.02);
	z-index: 1;
	cursor: pointer;
}

.white:hover {box-shadow: 0 0 10px 4px white;}
.yellow:hover {box-shadow: 0 0 10px 4px yellow;}
.orange:hover {box-shadow: 0 0 10px 4px orange;}
.red:hover {box-shadow: 0 0 10px 4px red;}
.green:hover {box-shadow: 0 0 10px 4px green;}
.blue:hover {box-shadow: 0 0 10px 4px blue;}
.purple:hover {box-shadow: 0 0 10px 4px purple;}
.pink:hover {box-shadow: 0 0 10px 4px pink;}
.grey:hover {box-shadow: 0 0 10px 4px grey;}
.brown:hover {box-shadow: 0 0 10px 4px #562401;}
.black:hover {box-shadow: 0 0 10px 4px black;}
.colors:hover{box-shadow: 0 0 10px 4px white;}
